<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body style="background-color: black; color: white;">

<header>
    <h1>My personal page</h1>
    <nav>
        <a href="/" style="color: white;">Home</a>
        <a href="/about" style="color: white;">About</a>
        <a href="/contact" style="color: white;">Contact</a>
        <a href="/info" style="color: white;">Info</a>
        <a href="/history" style="color: white;">History</a>
    </nav>
</header>

{{{ body }}}

<footer>
    <p>All rights reserved<p>
</footer>

</body>
</html>